<section id="post-list">
    {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
    {{ if ne $url "about/" }}
    <article class="post-article">
        <a href="{{ .Permalink }}">
        <aside class="dates">{{ .Date.Format "2 Jan" }}</aside>
            {{ .Title }}
            {{ if .Site.Params.enableSummary }}
                {{ if .Site.Params.useDescriptionReplaceSummary }}
                    <h2>{{ .Description | plainify }}</h2>
                {{ else }}
                    <h2>{{ .Summary | plainify | htmlUnescape }}</h2>
                {{ end }}
            {{ end }}
            <div class="article-author">
                <svg class="half-circle" viewBox="0 0 106 57">
                    <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
                </svg>
                {{ if in (.Param "author") "Tom" }}
                    <div class="author-avatar">
                        <img src="/img/author-100.jpg" srcset="/img/author-100@2x.jpg 2x" alt="Tom Moulard" width="80" height="80">
                    </div>
                    <div class="author-name">
                        <div class="author-name-prefix">L'auteur</div>
                        Tom Moulard
                    </div>
                {{ end }}
                {{ if in (.Param "author") "Guillaume" }}
                    <div class="author-avatar">
                        <img src="/img/guillaume.moulard100.jpg" srcset="/img/guillaume.moulard200.jpg 2x" alt="Guillaume Moulard" width="80" height="80">
                    </div>
                    <div class="author-name">
                        <div class="author-name-prefix">L'auteur</div>
                        Guillaume Moulard
                    </div>
                {{ end }}
                {{ if in (.Param "author") "Huvelle" }}
                    <div class="author-avatar">
                        <img src="/img/martin.huvelle100.jpg" srcset="/img/martin.huvelle200.jpg 2x" alt="Martin Huvelle" width="80" height="80">
                    </div>
                    <div class="author-name">
                        <div class="author-name-prefix">L'auteur</div>
                        Martin Huvelle
                    </div>
                {{ end }}
            </div>
        </a>
    </article>
    {{ end }}
    {{ end }}
</section>
